html {
  box-sizing: border-box
}

*, *::before, *::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background: url('../assets/logo.jpeg') grey;
  background-size: 40%;
  text-align: center;
  font-size: 2.2rem;
	font-family: 'Redressed', cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 2%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: solid 3px rgb(55, 54, 54);
  font-size: 2.8rem;
}

button:hover{
  border-color: #FEE440;
}

p {
  font-size: 2.8rem;
  line-height: 1.1;
}

.food-cell {
  background: url('../assets/cherry.png');
  background-size: cover;
}

.snake-body {
  background-color: #548CFF;
  border: solid 2px;
  border-radius: 10px;
}

.snake-head {
  background-color: #2666CF;
  border: solid 2px;
  border-radius: 7px;
}

#rules {
  width: 300px;
  margin-bottom: 20vmin;
  border: solid;
  background-color: #a5cafa;
  color: rgb(0, 0, 0);
}

#rules h1 {
  font-size: 3.5rem;
}

#title {
  font-size: 4rem;
  margin: 2% auto;
  border: solid;
  background-color: #a5cafa;
  padding: 3px;
}

#board {
  display: grid;
  border: solid 4px;
  background: url('../assets/board.png');
  background-size: cover;
}

#snake-control {
  margin: 2% auto 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake-control button {
  background-color: #2FDD92;
  width: 120px;
  border-radius: 30px;
}

#vertical {
  margin: auto 20px;
}

#vertical > button {
  display: block;
}

#down {
  margin-top: 20%;
}

#score {
  width: 170px;
  height: 160px;
  background-color: #a5cafa;
  border: 5px ridge greenyellow;
  margin-bottom: 15vmin;
  padding: 7px 0;
}

#game-control {
  height: 100px;
  margin-bottom: 5vmin;
}

#game-control > button {
  display: block;
  width: 170px;
  border-radius: 30px;
}

#restart {
  margin-bottom: 2%;
  background-color: #86C6F4;
}

#play {
  background-color:  #FF865E;
}

@media only screen and (max-width: 900px) {
  #rules {
    display: none;
  }

  #title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  p {
    font-size: 1.6rem;
  }
  
  #snake-control button {
    font-size: 1.5rem;
    width: 60px;
  }

  #game-control > button {
    font-size: 1.5rem;
    width: 80px;
  }

  #title {
    font-size: 1.8rem;
  }
  
  #score {
    width: 90px;
    height: 90px;
  }

  #vertical {
    margin: auto 10px;
  }
}